rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read, write: if isCreator()
    }

    function isCreator() {
      return resource.data.creator == request.auth.uid
    }

    match /projects/{projectId}/task/{taskId} {
      allow read, write: if isCreator()
    }
  }
}
