<form [formGroup]="projectForm" (ngSubmit)="saveProject()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="The name of your project"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      cols="30"
      rows="10"
      class="form-control"
      placeholder="A short description of what the project is"
      formControlName="description"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="description">Team Members</label>
    <type-ahead
      class="form-control"
      formControlName="members"
      multi="true"
      complex="true"
      custom="false"
      nameField="displayName"
      [itemTemplate]="typeaheadItemTemplate"
      [suggestions]="users$ | async"
    ></type-ahead>
    <ng-template #typeaheadItemTemplate let-item="item">
      {{ item.displayName }} <{{ item.email }}>
    </ng-template>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">
    {{ project ? 'Update' : 'Create' }} Project
  </button>
</form>
