<div *ngIf="project$ | async as project; else projectLoading">
  <div class="clearfix">
    <div class="float-left">
      <select
        class="form-control"
        [ngModel]="project.id"
        (change)="changeProject($event.target.value)"
      >
        <option *ngFor="let project of projects$ | async" [value]="project.id">{{
          project.name
        }}</option>
      </select>
    </div>

    <div class="float-right ml-2">
      <button class="btn btn-primary" (click)="editProject(projectModal)">
        <i class="fa fa-edit"></i>
        Manage Project
      </button>
    </div>

    <div class="float-right">
      <div class="btn-group btn-group-toggle">
        <label class="btn-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [ngModel]="!isListView" (click)="hideListView()" />
          <i class="fa fa-columns"></i>
          Board
        </label>
        <label class="btn-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [ngModel]="isListView" (click)="showListView()" />
          <i class="fa fa-list"></i>
          List
        </label>
      </div>
    </div>
  </div>

  <hr />

  <div *ngIf="tasks$ | async as tasks; else tasksLoading">
    <div *ngIf="!isListView" class="card-deck">
      <div *ngFor="let group of taskGroups$ | async" class="card">
        <div class="card-header clearfix z-1">
          <span class="float-left">{{ group.state }} ({{ group.tasks.length }})</span>
          <a class="float-right" (click)="addTask(content, group.state)">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="card-body pt-2 pl-3 pr-3 pb-0">
          <div *ngFor="let task of group.tasks" class="card o-hidden ml-0 mr-0 mb-2">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-thumbtack"></i>
              </div>
              <h5 class="card-title">{{ task.text }}</h5>
              <span *ngIf="task.assignedTo && task.assignedUser">
                <img
                  [src]="task.assignedUser.photoURL"
                  class="profile-photo"
                  [title]="task.assignedUser.displayName"
                  alt="profile image"
                />
                {{ task.assignedUser.displayName }}
              </span>

              <span
                *ngIf="
                  (task.assignedTo && !task.assignedUser) || (task.assignedUser && !task.assignedTo)
                "
              >
                Updating...
              </span>
            </div>
            <div class="card-footer">
              <button class="btn" (click)="editTask(content, task)">
                <i class="fa fa-edit"></i>
                Edit
              </button>
              <button class="btn" (click)="changeIconState(project, task)">
                <i [class]="getStateIconClass(task)"></i>
                {{ getStateChangeText(task) }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isListView">
      <div class="clearfix mb-3">
        <div class="float-left">
          <h3>Task List</h3>
        </div>
        <div class="float-right">
          <a class="btn btn-primary" (click)="addTask(content, states.NotStarted)">
            <i class="fa fa-plus"></i>
            Add Task
          </a>
        </div>
      </div>

      <table class="table responsive">
        <thead>
          <tr>
            <th>
              Text
            </th>
            <th>
              Description
            </th>
            <th>
              State
            </th>
            <th>
              Assigned To
            </th>
            <th></th>
          </tr>
          <tr *ngIf="!tasks || tasks.length === 0">
            <td colspan="5">No tasks have been added to the project yet.</td>
          </tr>
          <tr *ngFor="let task of tasks">
            <td>
              {{ task.text }}
            </td>
            <td>
              {{ task.description }}
            </td>
            <td>
              {{ task.state }}
            </td>
            <td>
              <span *ngIf="task.assignedTo && task.assignedUser">
                <img
                  [src]="task.assignedUser.photoURL"
                  class="profile-photo"
                  [title]="task.assignedUser.displayName"
                  alt="profile image"
                />
                {{ task.assignedUser.displayName }}
              </span>

              <span
                *ngIf="
                  (task.assignedTo && !task.assignedUser) || (task.assignedUser && !task.assignedTo)
                "
              >
                Updating...
              </span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="editTask(content, task)">
                <i class="fa fa-edit"></i>
                Edit
              </button>
              <button class="btn btn-danger" (click)="removeTask(task.id, project.id)">
                <i class="fa fa-trash"></i>
                Delete
              </button>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <ng-template #tasksLoading>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Tasks Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #projectLoading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Project Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="taskForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          formControlName="text"
          placeholder="The name of the task"
          required
        />
      </div>
      <div class="form-group">
        <label for="name">State</label>
        <select class="form-control" formControlName="state" required>
          <option [value]="states.NotStarted">Not Started</option>
          <option [value]="states.InProgress">In Progress</option>
          <option [value]="states.Done">Done</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">Assigned To</label>
        <select class="form-control" formControlName="assignedTo">
          <option value="">Unassigned</option>
          <option [value]="user['id']" *ngFor="let user of users"
            >{{ user.displayName }} <{{ user.email }}></option
          >
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control"
          placeholder="A short description of the task"
          formControlName="description"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="project$ | async as project">
      <button
        *ngIf="selectedTask"
        (click)="removeTask(selectedTask.id, project.id)"
        class="btn btn-danger"
      >
        <i class="fa fa-trash"></i>
        Delete
      </button>
    </ng-container>

    <button (click)="saveTask()" class="btn btn-primary" [disabled]="!taskForm.valid">
      <i class="fa fa-save"></i>
      Save
    </button>
  </div>
</ng-template>

<ng-template #projectModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-project
      [project]="project$ | async"
      (save)="saveProject($event)"
      (remove)="removeProject()"
    ></app-edit-project>
  </div>
</ng-template>
