<h2>Profile</h2>
<hr />
<div *ngIf="loggedInUser" class="row">
  <div class="col-sm-6 col-md-4">
    <img
      [src]="loggedInUser.photoURL"
      alt=""
      class="img-rounded img-responsive"
    />
  </div>
  <div class="col-sm-6 col-md-8">
    <h3>{{ loggedInUser.displayName }}</h3>
    <p>
      <i class="glyphicon glyphicon-envelope"></i>{{ loggedInUser.email }}
      <br />
      <i class="glyphicon glyphicon-gift"></i>
      Registered: {{ 1569427869436 | date }}
    </p>
  </div>
</div>
