<h1>Teams</h1>
<hr>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Intro to Computer Science - Assignment 1</h5>
                <a href="#" class="btn btn-primary card-link">Go To Board</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Programming Project</h5>
                <a href="#" class="btn btn-primary card-link">Go To Board</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Programming in Java</h5>
                <a href="#" class="btn btn-primary card-link">Go To Board</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">BBQ Planning</h5>
                <a href="#" class="btn btn-primary card-link">Go To Board</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Some other ramdom team</h5>
                <a href="#" class="btn btn-primary card-link">Go To Board</a>
            </div>
        </div>
    </div>
</div>