<div class="clearfix">
  <div class="float-left">
    <h2>My Projects</h2>
  </div>
  <div class="float-right">
    <a class="btn btn-primary" (click)="addProject(content)">
      <i class="fas fa-plus"></i>
      <span>Add Project</span>
    </a>
  </div>
</div>

<hr />

<div class="container-fluid content-row">
  <div class="row" *ngIf="projects$ | async as projects; else projectLoading">
    <div
      *ngFor="let project of projects"
      class="mt-2 col-sm-12 col-md-6 col-lg-3"
    >
      <div class="card text-white bg-primary o-hidden d-flex h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-users"></i>
          </div>
          <div class="mr-5">
            <h5>{{ project.name }}</h5>
          </div>
          <div>
            {{ project.description }}
          </div>
        </div>
        <a
          class="card-footer text-white clearfix z-1 stretched-link"
          [routerLink]="['/board', project.id]"
        >
          <span class="float-left">Manage Tasks</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <ng-template #projectLoading>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Project Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Project</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-project (save)="saveProject($event)"></app-edit-project>
  </div>
</ng-template>
