<h1>My Projects</h1>
<hr />

<div class="row">
  <div *ngFor="let project of projects" class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p>{{ project.description }}</p>
        <a class="btn card-link" [routerLink]="['/board', project.name]"
          >View Board</a
        >
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <a class="btn card-link" [routerLink]="'/project/add'">Add Project</a>
      </div>
    </div>
  </div>
</div>

<pre>
  {{ projects | json }}
</pre>
